@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

body {
    display: flex;
    color: #04152B;
    scroll-behavior: smooth;
   

}

.modal-content {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}



.trigger-btn {
    display: inline-block;
    margin: 100px auto;
}


.left {
    display: flex;
    width: 50%;
    padding: 10px 20px;
    flex-direction: column;
    align-items: center;

}

.right {
    width: 50%;
}

.right>img {
    width: 100%;
}

.left>a>img {
    margin-top: 50px;
    margin-left: -20%;
    width: 30%;


}

.cookiesContent {
  width: 82%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  color: #000;
  text-align: center;
  border-radius:20px;
  padding: 30px 30px 70px;
}
.cookiesContent button.close {
    width: 30px;
    font-size: 20px;
    color: #c0c5cb;
    align-self: flex-end;
    background-color: transparent;
    border: none;
    margin-bottom: 10px;
  }
  .cookiesContent img {
    width: 82px;
    margin-bottom: 15px;
  }
  .cookiesContent p {
    margin-bottom: 40px;
    font-size: 18px;
  }
  .cookiesContent a.accept {
    background-color: #04152B;
    font-family: "Raleway";
    border: none;
    border-radius: 85px;
    width: 200px;
    padding: 14px;
    font-size: 16px;
    color: #ffff;
    box-shadow: 0px 6px 18px -5px rgba(9, 48, 99, 0.56);
  }



.form {
    display: flex;
    flex-direction: column;
    padding: 20% 0;
}

.form>h1 {
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
}

.form>p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #667085;
}

.right>img {
    width: 100%;
}

.formgroup {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
    gap: 5px;
}

.linear {
    display: flex;
    justify-content: space-between;
}

.formgroup>label {
    font-weight: 570;
    font-size: 14px;
    line-height: 16px;
}

.formgroup>input {
    height: 39px;
    background: #FFFFFF;
    
    border: 1px solid #D0D5DD;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
    padding: 0 5px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.linear>h2 {
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
}

form>button {
    width: 100%;
    height: 39px;
    background: #21295C;
    border-radius: 8px;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    border: none;
    margin: 10px 0;
}

@media screen and (max-width: 890px) {
    body {
        overflow: visible;
        scroll-behavior: smooth;
    }

    .right {
        display: none;
    }

    .left {
        width: 100%;
    }

    .left>img {
        width: 30%;
    }

    .linear {
        flex-direction: column;
    }
}
